---
const { title, Content } = Astro.props;
---

<div class="container">
  <h1>{title}</h1>
  <Content />
</div>

<style lang="scss">
  @use '../assets/style/main' as vars;

  .container {
    color: vars.$color_purple;
}

</style>